* {
    margin: 0;
    padding: 0;
}

body {
    background-color: antiquewhite;
    background-image: url("9de909fe7c137c16cfbe9890ae6ddf2e.jpg");
    background-size: cover;
}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.标题 {
    text-align: center;
    margin-top: 2vw;
    font-size: 2.5vw;
    color: white;
}

p {
    background-color: rgba(255, 255, 255, 0.719);
    border-radius: 15px;
    width: 50vw;
    text-align: center;
    font-size: 2vw;
    padding: 0.8vw;
    margin-top: 0.8vw;
}

.start {
    transition-duration: 0.8s;
    padding: 1.2vw;
    font-size: 2.5vw;
    margin-top: 10vw;
    border-radius: 30px;
    background-color: rgba(0, 255, 255, 0.519);
    position: relative;
    left: 0.1vw;
    border-width: 0;
}

.start:hover {
    font-size: 3vw;
    border-width: 5px;
}

a {
    color: black;
    text-decoration: none;

}


.button , .text {
    background-color: rgba(255, 255, 255, 0.819);
    width: 90vw;

}

.text {
    height: 30vw;
    margin-top: 3vw;
    border-radius: 30px 30px 0 0;
    padding: 2vw;
    font-size: 1.8vw;
}

.button {
    padding: 1vw;
    border-radius: 0 0 30px 30px;
    border-width: 4px 0 0 0;
    border-color: black;
    border-style: solid;
    display: flex;
    justify-content: space-between;
    align-items:center ;
}

.上一个问题 {
    padding: 1.2vw;
    font-size: 2.5vw;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    border-width: 3px;
    color: black;
}

.上一个问题:hover {
    color: white;
    background-color: black;
}



.下一个问题 {
    padding: 1.2vw;
    font-size: 2.5vw;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    border-width: 3px;
    color: black;
}



.下一个问题:hover {
    color: white;
    background-color: black;

}


.问题id {
    padding: 1.2vw;
    font-size: 2.5vw;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    color: black;
}

.问题id:hover {
    color: white;
    background-color: black;

}


.oszes {
    padding: 1.2vw;
    font-size: 2.5vw;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    color: black;
}

.oszes:hover {
    color: white;
    background-color: black;

}


.选择题按钮 {
    width: 25px;
    height: 25px;
}